# Modelo de Examen Practico - TLP3 - Python para Ciencia de Datos.

**A partir del datasets brindado, realizar los siguientes procedimientos:**

* Importar datasets con Pandas.
* Explorar los datos con los metodos correspondientes. 
* Limpieza de los datos (Normalización de datos).
* Obtener estadisticas.
* Mostrar los datos procesados con graficos utilizando la libreria Matplotlib.
* Exportar el contenido a un archivo sqlite utilizando PANDAS.


**Importante: Se debe documentar cada procedimiento realizado, siguiendo la siguiente estructura:**

1. Celda de Markdown (Documentación)
2. Código (Sin comentarios, se debe documentar lo sufiente solo en la celda de markdown).

## Actividades: 
### 1. Importación del Dataset con Pandas

En esta sección, se debe utilizar la librería Pandas para cargar el archivo CSV que contiene los datos de las calificaciones en un DataFrame, que es la estructura de datos fundamental para el análisis con Pandas.

### 2. Exploración Inicial de los Datos

A continuación, se deben emplear métodos de Pandas para obtener una visión general del dataset. Esto incluye mostrar las primeras filas, obtener un resumen de la información del DataFrame (tipos de datos, valores no nulos), y calcular estadísticas descriptivas de las columnas numéricas.

### 3. Limpieza y Normalización de los Datos

Esta etapa crucial deben aplicar la corrección de diversos errores presentes en el dataset. Se abordarán los valores faltantes, la inconsistencia en el formato de la columna 'Asistencia', los posibles valores atípicos y la normalización de los nombres de estudiantes y materias a un formato consistente (por ejemplo, capitalización).

### 4. Obtención de Estadísticas Descriptivas

Después de la limpieza, deben calcular nuevamente las estadísticas descriptivas para observar el impacto del proceso de limpieza en los datos numéricos. También se pueden calcular estadísticas específicas por grupo (por ejemplo, promedio de calificaciones por materia).

### 5. Visualización de los Datos con Matplotlib

En esta sección, deben utilizar la librería Matplotlib para crear visualizaciones que permitan comprender mejor la distribución de las calificaciones y la asistencia. Se generarán histogramas, diagramas de dispersión y gráficos de barras.

### 6. Exportación a Archivo SQLite

Finalmente, deben utilizar la funcionalidad de Pandas para guardar el DataFrame procesado en una base de datos SQLite. Esto permite almacenar los datos de forma estructurada para su posterior consulta y uso.

# Importaciones

In [1]:
# Se procede a realizar las importaciones necesarias para realizar las actividades.
import pandas as pd 
import sqlite3
import matplotlib.pyplot as plt

## Acividad N° 1

In [2]:
# Se crea el dataframe a partir del archivo CSV.
df = pd.read_csv("datasets_calificaciones.csv")

## Actividad N° 2

In [ ]:
# Se procese a usar los metodos "head()" y "tail()" para los primeros y ultimos registros del dataframe.
print(df.head(10)) # Muestra las primeras 5 filas del dataframe
print("--------------------------------------------------------------------")
print(df.tail(10)) # Muestra las ultimas 5 filas del dataframe

        estudiante      Materia  Parcial 1  Parcial 2  Final  Asistencia
0        Ana Pérez  matematicas        8.0        7.5    9.0          95
1     Carlos López       fisica        6.2        7.0    7.8          88
2      María Gómez      quimica        9.0        8.8    9.5         100
3  Pedro Rodríguez     historia        7.5        6.0    7.0          75
4     Laura Vargas  matematicas        7.9        9.2    8.5          92
--------------------------------------------------------------------
         estudiante      Materia  Parcial 1  Parcial 2  Final  Asistencia
95  Josefina Torres     historia        7.4        6.8    7.2          81
96  Bautista Vargas  matematicas        8.7        7.7    8.5          92
97        Emma Soto       fisica        6.6        7.0    6.4          83
98       Mateo Díaz      quimica        9.5        9.7    7.8          98
99  Sofía Fernández     historia        7.1        7.6    7.5          87

In [4]:
# Se procede a usar el metodo "info()" para mostrar la informacion del dataframe como los valores nulos y el tipo de dato.
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   estudiante  100 non-null    object
 1   Materia     100 non-null    object
 2   Parcial 1   95 non-null     object
 3   Parcial 2   90 non-null     object
 4   Final       89 non-null     object
 5   Asistencia  100 non-null    object
dtypes: object(6)
memory usage: 4.8+ KB
None

In [5]:
# Se procede a usar el metodo "describe()" para calcular estadísticas de las columnas numéricas del dataframe.
print(df.describe())

        estudiante      Materia Parcial 1 Parcial 2 Final Asistencia
count          100          100        95        90    89        100
unique          96            7        49        45    46         35
top     mateo díaz  matematicas                 7.5   9.5        99%
freq             2           25         7         5     4          5

## Actividad N° 3

In [6]:
# Se convierte en formato titulo el valor de estudiante.
df["estudiante"] = df["estudiante"].str.title()

# Se convierte a numerico las columnas de calificaciones y se reemplaza los valores no numerocos con NaN.
# Ademas se reemplazan los valores NaN por la mediana de cada columna.
for col in ["Parcial 1", "Parcial 2", "Final"]:
    df[col] = pd.to_numeric(df[col], errors="coerce")
    df[col] = df[col].fillna(df[col].median())

# Se convierte a numerico la columna de asistencia , se elimina simbolo "%" y se reemplaza errores con NaN .
# Ademas se reemplazan los valores NaN por 0 y se limita el rango de asistencia entre 0 y 100.
df["Asistencia"] = pd.to_numeric(df["Asistencia"].str.replace('%', '', regex=False), errors="coerce")
df["Asistencia"] = df["Asistencia"].fillna(0).clip(0, 100)

## Actividad Nº 4

In [7]:
# Se procede a mostrar los cambios realizados en el dataframe.
print(df.head(10)) # Muestra las primeras 5 filas del dataframe
print("--------------------------------------------------------------------")
print(df.tail(10)) # Muestra las ultimas 5 filas del dataframe
print("--------------------------------------------------------------------")
print(df.info()) # Muestra la informacion del dataframe
print("--------------------------------------------------------------------")
print(df.describe()) # Muestra las estadisticas del dataframe

         estudiante               Materia  Parcial 1  Parcial 2  Final  \
0         Ana Pérez           matematicas        8.0        7.5    9.0
1      Carlos López                fisica        6.2        7.0    7.8
2       María Gómez               quimica        9.0        8.8    9.5
3   Pedro Rodríguez              historia        7.5        6.0    7.0
4      Laura Vargas           matematicas        7.9        9.2    8.5
5       Javier Soto                fisica        5.8        6.5    6.0
6        Sofia Díaz     ciencias sociales        9.5        9.1    7.8
7  Miguel Fernández  literatura universal        8.0        7.8    8.2
8    Valentina Ruiz           matematicas        7.0        7.7    7.8
9      Diego Castro                fisica        6.8        7.2    7.5

   Asistencia
0          95
1          88
2         100
3          75
4          92
5          80
6          98
7          85
8          90
9          93
--------------------------------------------------------------------
           estudiante      Materia  Parcial 1  Parcial 2  Final  Asistencia
90       Santino Soto      quimica        9.3        9.0    9.7         100
91      Catalina Díaz     historia        7.7        7.5    7.8          85
92  Benicio Fernández  matematicas        7.9        8.1    8.8          95
93        Amelia Ruiz       fisica        5.9        6.4    5.7          78
94     Lorenzo Castro      quimica        8.9        9.2    9.1          96
95    Josefina Torres     historia        7.4        6.8    7.2          81
96    Bautista Vargas  matematicas        8.7        7.7    8.5          92
97          Emma Soto       fisica        6.6        7.0    6.4          83
98         Mateo Díaz      quimica        9.5        9.7    7.8          98
99    Sofía Fernández     historia        7.1        7.6    7.5          87
--------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   estudiante  100 non-null    object
 1   Materia     100 non-null    object
 2   Parcial 1   100 non-null    float64
 3   Parcial 2   100 non-null    float64
 4   Final       100 non-null    float64
 5   Asistencia  100 non-null    int64
dtypes: float64(3), int64(1), object(2)
memory usage: 4.8+ KB
None
--------------------------------------------------------------------
        Parcial 1   Parcial 2       Final  Asistencia
count  100.000000  100.000000  100.000000  100.000000
mean     7.840000    7.815000    7.880000   88.180000
std      1.134402    1.109771    1.111646    8.445165
min      5.500000    5.800000    5.700000   70.000000
25%      7.075000    6.975000    7.100000   81.750000
50%      7.900000    7.700000    7.800000   88.500000
75%      8.800000    8.800000    8.825000   96.000000
max      9.900000    9.900000    9.900000  100.000000